{% assign lang = page.lang | default: "en" %}
{% assign nav_items = site.data.nav_items[lang] %}

<nav>
  <ul>
    {% for item in nav_items %}
      <li>
        <a href="{{ item.path }}">{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
