---
---

body{
  font-family: "monospace";
  color: white;
  margin: 0;
  background-color: #101010;
  animation: backgroundShift 10s infinite alternate;

}

main{
  box-sizing: border-box; // Ensure that the padding is include in the width

  background-color: black;
  width: 100%;
  max-width: 45em; // 40
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
}

@keyframes backgroundShift {
  0% {
    background-color: #101010;
  }
  100% {
    background-color: #141422;
  }
}

main img {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
}

nav ul{
  list-style: none;
  padding: 0 0 0 1em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 0.5em;
}

nav ul li{
  text-decoration: underline;
}

.row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 11rem;
}

div.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.project {
  text-decoration: none;
  max-width: 20em;
  height: 17em;
  padding: 0.5em;
  overflow: hidden;
  
  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
    height: 3em;
    overflow: hidden;
  }
  img {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}

a{
  color: inherit; 
}

a:hover, div.project:hover{
  background-color: white;
  color: black;
}

::selection{
  background-color: #FFFACD;
  color: black;
}